/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Grid Layout */
#content-container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
    grid-template-rows: auto 1fr auto;
}

#content-header {
    grid-column: 1 / 3;
    grid-row: 1;
}

#project-container {
    grid-column: 1;
    grid-row: 2;
}

#todo-container {
    grid-column: 2;
    grid-row: 2;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
}


/* Layout Body */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

#content-header {
    height: 10vh;
    
    display: flex;
    align-items: center;

    padding-left: 3rem;
}

footer {
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#project-container,
#todo-container {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

#projectList-container {
    overflow-y: auto;
}

.projectTitle-container {
    display: flex;
    justify-content: space-between;

    padding: 0.7rem;
}

.projectBtn-container {
    display: flex;
    gap: 0.5rem;
}

.todo-container {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
}

.todoBtn-container {
    align-self: center;
}

.see.todo-btn,
.edit.todo-btn {
    margin-right: 0.5rem;
}


/* Layout Project Modal */
.project.modal-container {
    position: fixed;
    display: flex;
    z-index: 1;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s linear 0.3s;
}

.todo.modal-container {
    position: fixed;
    display: flex;
    z-index: 1;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0.3s ease-out;
}

.project.modal-container.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.todo.modal-container.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}


/* Style */
body {
    background-color: rgb(240, 240, 240);
}