/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Layout */
#content-container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 2fr;
    grid-template-rows: auto 1fr auto;
}

#content-header {
    grid-column: 1 / 3;
    grid-row: 1;
}

#project-container {
    grid-column: 1;
    grid-row: 2;
}

#todo-container {
    grid-column: 2;
    grid-row: 2;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
}