/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Grid Layout */
#content-container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
    grid-template-rows: auto 1fr auto;
}

#content-header {
    grid-column: 1 / 3;
    grid-row: 1;
}

#project-container {
    grid-column: 1;
    grid-row: 2;
}

#todo-container {
    grid-column: 2;
    grid-row: 2;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
}


/* Layout Body */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: hidden;
}

#content-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

#content-header {
    height: 10vh;
    
    display: flex;
    align-items: center;

    padding-left: 3rem;
}

footer {
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#project-container,
#todo-container {
    display: flex;
    flex-direction: column;
    
    min-height: 0;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem;
}

#projectList-container,
#todoList-container {
    padding: 0 1.5rem;
    min-height: 0;

    overflow-y: auto;
}

.projectTitle-container {
    display: flex;
    justify-content: space-between;

    padding: 0.7rem;
}

.projectBtn-container {
    display: flex;
    gap: 0.5rem;
}

.todo-container {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
    margin-bottom: 1rem;
}

.todoInfo-container {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.todoBtn-container {
    align-self: center;
    display: flex;

    margin-right: 2rem;
}

.see.todo-btn,
.edit.todo-btn {
    margin-right: 1.5rem;
}

#popover-container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confirm-button-container .confirm-button.yes {
    margin-right: 0.5rem;
}


/* Layout Project Modal */
.project.modal-container {
    position: fixed;
    display: flex;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s linear 0.3s;
}

.form-container {
    border-radius: 7px;
}

#project-form-modal,
#todo-form-modal {
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo.modal-container {
    position: fixed;
    display: flex;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0.3s ease-out;
}

.project.modal-container.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.todo.modal-container.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}


/* Style */
body {
    background-color: rgb(245, 245, 245);
}

#content-container {
    background-color: rgb(255, 255, 255);
}

#content-header {
    background-color: rgb(235, 190, 45);
}

#content-header h1 {
    color: rgb(255, 255, 255);
}

#app-icon {
    width: 2rem;
    height: 2rem;
    margin-left: -1.25rem;
    margin-right: 0.5rem;
    fill: rgb(255, 255, 255);
}

#project-container {
    border-right: 2px solid rgb(235, 190, 45);
}

.header {
    color: rgb(235, 190, 45);
}

#add-project-button,
#add-todo-button {
    aspect-ratio: 1 / 1;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;

    color: rgb(255, 255, 255);
    background-color: rgb(235, 190, 45);
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.projectTitleBtn {
    background: none;
    border: none;
    font-size: 1rem;

    cursor: pointer;
}

.projectTitle-container {
    border-bottom: 2px solid rgb(208, 215, 222);
}

.renameProject-button,
.deleteProject-button {
    background: none;
    border: none;
    color: rgb(235, 190, 45);
    cursor: pointer;
    font-size: 1rem;
}

.renameProject-button {
    font-size: 1.2rem;
}

.renameProject-button.hide,
.deleteProject-button.hide {
    visibility: hidden;
}

#popover-container-project #confirm-message {
    font-size: 0.7rem;
}

.confirm-button.yes,
.confirm-button.no {
    color: rgb(235, 190, 45);
    background: none;
    border: 1px solid rgb(235, 190, 45);
    font-size: 0.7rem;
    cursor: pointer;

    padding: 0.07rem;
}

.see.todo-btn,
.edit.todo-btn,
.delete.todo-btn {
    background: none;
    border: none;
    color: rgb(235, 190, 45);
    font-size: 1.5rem;

    cursor: pointer;
}

.see.todo-btn,
.edit.todo-btn {
    font-size: 1.7rem;
}

.see.todo-btn.hide,
.edit.todo-btn.hide,
.delete.todo-btn.hide {
    visibility: hidden;
}

.todo-container {
    background-color: rgb(245, 245, 245);
    border-bottom: 3px solid rgb(208, 215, 222);
    border-radius: 5px;
}

footer {
    background-color: rgb(235, 190, 45);
    color: rgb(255, 255, 255);
}


/* Style Modal */
.form-container {
    background-color: rgb(255, 255, 255);
}

#modal-header,
#todo-modal-header {
    color: rgb(235, 190, 45);
    font-size: 2.5rem;
    
    align-self: center;
    margin-bottom: 0.5rem;
}

#project-title,
#todo-title, #dueDate,
#desc, #note,
#checklist {
    border: 1px solid rgb(208, 215, 222);
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.5rem;

    font-size: 1rem;
}

#project-title:focus,
#todo-title:focus, #dueDate:focus,
#desc:focus, #note:focus,
#checklist:focus {
    outline: none;
    border: 2px solid  rgb(208, 215, 222);
}

.form-button-container {
    align-self: center;

    margin-top: 1rem;
    
    display: flex;
    gap: 1rem;
}

#submit-project-button,
#cancel-project-button,
#submit-todo-button,
#cancel-todo-button {
    padding: 0.4rem;
    font-size: 1rem;

    background-color: rgb(235, 190, 45);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;

    cursor: pointer;
}

#dueDate,
.priority-button {
    cursor: pointer;
}

#priority-button-container {
    display: flex;
    gap: 0.7rem;
}

.priority-button {
    display: flex;
    gap: 0.3rem;

    padding: 0.1rem;
}

.priority-button.flexible.show {
    background-color: rgba(80, 200, 120, 0.2);
    border-color: rgb(80, 200, 120);
}

.priority-button.important.show {
    background-color: rgba(255, 220, 80, 0.2);
    border-color: rgb(255, 220, 80);
}

.priority-button.urgent.show {
    background-color: rgba(255, 80, 80, 0.2);
    border-color: rgb(255, 80, 80);
}

#flexible-color,
#important-color,
#urgent-color {
    display: inline-block;
    align-self: center;

    width: 0.7rem;
    height: 0.7rem;
    border-radius: 10px;
}

#flexible-color {
    background-color: rgb(80, 200, 120);
}

#important-color {
    background-color: rgb(255, 220, 80);
}

#urgent-color {
    background-color: rgb(255, 80, 80);
}

input[type="checkbox"] {
    accent-color: rgb(255, 220, 80);
}